* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #010101;
}


/* header */

header .span-cont {
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .span-cont span {
    padding: 8px;
    color: white;
    background-color: #373737;
    border-radius: 8px;
}

header .span-cont span:first-child {
    margin-right: 5px;
}

/* / header */


/* main */

main {
    display: flex;
}

.arrow-cont {
    width: 5%;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.arrow-cont #arrow {
    font-size: 50px;
    font-weight: 800;
    color: lightgrey;
}

.arrow-cont #arrow:hover .fa-caret-right {
    color: #2EBAFF;
}

.arrow-cont #half {
    font-weight: 400;
    color: ivory;
}

.webcams {
    width: 90%;
    height: calc(100vh - 150px);
}

.row {
    display: flex;
    height: calc(100% / 5); 
    
}

.webcams .row .webcam-cont {
    width: calc((100% / 5) - 10px));
    margin: 5px;
    position: relative;
}

.webcams .row .webcam-cont.frame {
    border: 3px solid;
    border-color: rgba(78, 228, 19, 0.9);
}

.webcams .row .webcam-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.webcams .row .webcam-cont .name {
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.webcams .row .webcam-cont .name i {
    color: red;
}

/* / main */


/* footer */

footer {
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.footer-cont {
    width: 100%;
    height: 80px;
}


/* general */

.footer-cont section.first {
    width: 15%;
    height: 100%;
    background-color: #232427;
    float: left;
    display: flex;
}

.footer-cont section.second {
    width: 70%;
    height: 100%;
    background-color: #232427;
    float: left;
    display: flex;
    justify-content: center;
}

.footer-cont section.third {
    width: 15%;
    height: 100%;
    background-color: #232427;
    float: left;
    display: flex;
}

/* / general */


/* first section */

.footer-cont section.first {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.footer-cont section.first .button-cont {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-cont section.first .button-cont .text {
    margin-top: 3px;
}

.footer-cont section.first .button-cont i {
    font-size: 30px;
}

.footer-cont section.first .up-arrow {
 line-height: 80px;
 color: white;
}

.footer-cont section.first .up-arrow.one {
    position: absolute;
    left: 105px;
}

.footer-cont section.first .up-arrow.two {
    position: absolute;
    left: 268px;
}

/* / first section */


/* second section */

.footer-cont section.second {
    padding-left: 80px;
}

.footer-cont section.second .button-cont {
    width: 11%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 170px;
    color: white;
    position: relative;
}

.footer-cont section.second .button-cont i {
    font-size: 30px;
}

.footer-cont section.second .button-cont .text {
    margin-top: 5px;
    /* text-align: center; */
}

.footer-cont section.second .button-cont #tw8 {
    position: absolute;
    top: 5px;
    right: 25px;
}

.footer-cont section.second .button-cont .green {
    color: lime;
}

.footer-cont section.second .up-arrow {
    line-height: 80px;
    color: white;
}

/* / second section */


/* third section */

section.third {
    position: relative;
}

section.third p {
    padding: 20px;
    line-height: 40px;
    color: coral;
    font-size: 15px;
    background-color: #4A4B4D;
    position:absolute;
    right: 0;
}

/* / third section */

